@{
    ViewBag.Title = "About";
}
<br />
<h2>WHO WE ARE</h2>

<p>
    BOOKIE is an independent bookselling site. Through BOOKIE and our expansive online community, we also reach readers around the world, people who are as excited about books as we are.

    We are grounded by our company's core values, which have guided us through the ups and downs of the bookselling industry. Each and every employee's love of books drives us forward.

    We look forward to a future filled with many new opportunities, new innovations, and, of course, new books!
</p>

<h2>MISSION</h2>

<p>
    Our mission is to be the world's best destination for readers, a place that fosters a culture of reading and connects people with the books they'll love.
</p>

<h2>VALUES</h2>

<p>
    We love everything about books. As entertainment, as tools of discovery, and as timeless works of art, we believe books have the unique ability to transport us and transform our world view.
    We're nothing without our customers. Powell's would not be the destination it is now without its loyal customers.
    We recognize that every reader is different. We know readers are as unique and complex as the books we sell. We, in turn, make every effort to engage with our customers, respond to their needs, and learn from their feedback.
    We're creative and resourceful. We built our name on innovative bookselling, and we continue to evolve by remaining curious and inventive.
</p>


