@{
    ViewBag.Title = "Contact";
}

<h1 style="margin-left:400px">Contact us</h1>


<div class="row">
    <div class="card border-dark mb-3" style="max-width: 20rem;">
        <div class="card-header">ADDRESS</div>
        <br />
        <span class="ui-icon u-icon-circle u-icon-circle-icon-1">
            <img src="https://img.favpng.com/25/20/22/address-icon-png-favpng-nMQmKvv8aWYuJEVJc6m4yEPhh.jpg" style="max-height:50px; max-width:50px; margin-left:100px" />
        </span>
        <p class="card-text">You can read our ebooks online, or download them to a vast array of devices, using our Ebook Reader apps.</p>
    </div>
    <div class="card border-dark mb-3" style="max-width: 20rem;">
        <div class="card-header">PHONE</div>
        <div class="card-body">
            <h4 class="card-title">What type of books do we have?</h4>
            <p class="card-text">We have everything, from fantasy to romance, educational books, historical books, comedy, thriller and everything else you can imagine.</p>
        </div>
    </div>
    <div class="card border-dark mb-3" style="max-width: 20rem;">
        <div class="card-header">EMAIL</div>
        <div class="card-body">
            <h4 class="card-title">Do you love reading books?</h4>
            <p class="card-text">You can read our ebooks online, or download them to a vast array of devices, using our Ebook Reader apps.</p>
        </div>
    </div>
</div>